			<h3>
				My restaurant visits:
			</h3>
			<br>
			<table class="table table-hover table-striped table-condensed">
				<thead>
					<tr>
						<th>
							Restaurant
						</th>
						<th>
							Date
						</th>
						<th>
							Average Rating
						</th>
						<th>
							Your Rating
						</th>
						<th>
							&nbsp;
						</th>
					</tr>
				</thead>
				<tbody>
				<% @restaurants.each_with_index do |restaurant, index|%>
					<tr>
						<td>
							<%= restaurant.name %>
						</td>
						<td>
							<%= @ratings[index].visited_date %>
						</td>
						<td>
						        <%= restaurant.average_rating%>	
						</td>
						<td>
							<% if @ratings[index].rating.nil? %>
							  <%= form_tag rate_restaurant_path(@ratings[index]) do %>
						    <%= select_tag 'rating', options_for_select(1..5), :onchange => "this.form.submit();", class: 'form-control' %>
						  <% end %>
						<% else %>
					           <%= @ratings[index].rating %>	
						<% end %>
						</td>
						<% if Rating.was_i_invited?(@ratings[index].id, @ratings[index].visited_id, @ratings[index].visited_date) %>
						<td> 
							<%= button_to 'Invite Friends!', invite_friends_path(@ratings[index]), method: 'get' %>
						
						</td> 
						<% end %>

					</tr>
				<% end %>
				</tbody>
			</table>
