<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meal.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @meal.price %>
</p>

<%= link_to 'Edit', edit_restaurant_meal_path(@restaurant.id,@meal) %> |
<%= link_to 'Back', @restaurant %>
