<%= form_for([@restaurant, @table]) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this meal from being saved:</h2>
      <ul>
        <% @table.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :no_chairs %><br>
    <%= f.number_field :no_chairs %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
