<%= bootstrap_form_for([@restaurant, @table]) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this meal from being saved:</h2>
      <ul>
        <% @table.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.number_field :no_chairs, min:1, max: 20, required: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
