<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">

<p id="notice"><%= notice %></p>

<h4>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</h4>

<h4>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</h4>

<% if current_user.has_role?(:sys_admin) || @restaurant.managers.include?(current_user) %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'New Meal', new_restaurant_meal_path(@restaurant) %>|
<%= link_to 'New Table', new_restaurant_table_path(@restaurant) %>|
<% end %>
<%= link_to 'Back', restaurants_path %> 


		</div>
		<div class="col-md-4">
		</div>
	</div>

<br>
	<div class="row">
		<div class="col-md-5">
			<%unless @restaurant.meals.empty? %>
<table class="table table-striped">
  <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th colspan="2"></th>
      </tr>
  </thead>
  <tbody>
    <% @restaurant.meals.each do |meal| %>
      <tr>
        <td><%= meal.name %></td>
        <td><%= meal.description %></td>
	<td><%= meal.price %></td>
	<% if current_user.has_role?(:sys_admin) || @restaurant.managers.include?(current_user) %>
          <td><%= link_to 'Edit', edit_restaurant_meal_path(@restaurant.id, meal) %></td>
	  <td><%= link_to 'Destroy', [@restaurant, meal], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
	<p> No meals in this restaurant! </p>
<% end %>
</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-5">
			<% unless @restaurant.tables.empty? %>
<%= form_tag restaurant_bulk_reserve_path(@restaurant), method: 'post' do %>
<table class="table table-striped">
  <thead>
      <tr>
        <th>Name</th>
	<th>Chairs number</th>
	<th colstan='2'></th>
	<th> Reserve?</th>
      </tr>
  </thead>
  <tbody>
    <% @restaurant.tables.each do |table| %>
      <tr>
        <td><%= table.name %></td>
	<td><%= table.no_chairs %></td>
	<td><%= link_to 'Show bookings', restaurant_table_bookings_path(@restaurant.id, table.id) %>
	<% if current_user.has_role?(:sys_admin) || @restaurant.managers.include?(current_user) %>

        <td><%= link_to 'Edit', edit_restaurant_table_path(@restaurant.id, table) %></td>
	<td><%= link_to 'Destroy', [@restaurant, table], method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
	<td><%= check_box_tag 'table ' << table.id.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>Reservation date <%= datetime_select 'reservation','time', {minute_step: 15, start_year: Time.now.year} %></p>
<br>
<p>Reservation length(hours) <%= number_field_tag 'hours',nil,  min:1, max:10 , reuqired: true %></p>
<br>
<%= submit_tag 'Reserve selected!' %>
<%end%>
<% else %>
	<p>No tables in this restaurant! </p>
<% end %>		</div>
	</div>





</div>
