<br>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <br>
  <% path = case controller.action_name
            when 'add_friends'
              add_friends_path
            when 'manage_pending_friend_requests'
              manage_friend_requests_path
            when 'my_friends'
              my_friends_path
            else 
		    root_path 
	    end %>
    <% unless @users.blank? %>
  <%= form_tag(path, :method => "get", id: "search-form") do %>
	  <%= text_field_tag :search, params[:search], placeholder: "Search people" %>
	  <%= submit_tag "Search" %>
  <% end %>
  <br>
<table class='table table-striped table-hover'>
  <% for user in @users %>
    <tr>
      <td><%= user.full_name %></td>
      <td>
        <% case action_name %>
        <% when 'add_friends' %>
          <%= button_to "Add Friend", { action: "add_to_friends", id: user.id },
		  method: :post %>
	<% when 'manage_pending_friend_requests'%>
          <%= button_to "Accept Request", {action: "accept_friend_requests", id: user.id },
		  method: :post %></td><td>
          <%= button_to "Decline Request", {action: "decline_friend_requests", id: user.id},
		  method: :post %>
        <% when 'my_friends' %>
          <%= button_to "Remove From Friends", {action: 'remove_from_friends', id: user.id},
                  method: :post %>	
        <% else %>
          &nbsp;
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
  <%= will_paginate @users %>
<% else %>
	<p> No people here! </p>
<% end %>
